.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center top -15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container .contrast-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.4;
}

.login-content-container {
    position: relative;
    padding: 25px;
}

.login-container .login-text.text-container {
    margin: 50px 0;
    max-width: 500px;
}

.login-container .text-container h6 {
    margin-top: 25px;
}

.login-text {
    text-shadow: 3px 3px 3px #000;
    font-size: 1.25em;
}

.need-account-text {
    margin-top: 25px;
}

.login-container .flash-message {
    margin: 25px auto;
}