.home-page-text-container {
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    left: 50%;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px #000000;
    pointer-events: none;
}

.home-page-text-container.show {
    opacity: 1;
    transition: opacity 100ms;
    transition-delay: 250ms;
}

.home-page-company-name {
    font-size: 3.5rem;
}

@media only screen and (min-width: 768px) {
    .home-page-company-name {
        font-size: 6rem;
    }

    .home-page-slogan {
        font-size: 2.5rem;
    }
}
