.app {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f8f9fa;
}

.text-container {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  color: #ffffff;
  text-shadow: 10px 1px 9px #000000;
  text-align: center;
  letter-spacing: 2px;
}