.no-notes-message {
    font-style: italic;
}

.action-content {
    width: 75px;
    margin: 10px 0;
    padding: 0;
}

.action-text {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

.swipeable-list {
    max-height: 65vh;
}