.header-navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    overflow-x: scroll;
}

.bg-light {
    background-color: #fff ! important;
}

.header-navbar .navbar-toggler:focus {
    outline-color: #E56300;
}

.header-collapse.collapsing {
    transition: height 200ms ease-in-out;
}

.header-nav > .nav-item {
    padding: 0 10px;
    white-space: nowrap;
}

#about-link, #contact-link, #login-link {
    color: rgba(0,0,0,.5);
}

#home-link {
    color: rgba(0,0,0,0.65);
    letter-spacing: 1px;
}

.nav-separator {
    height: 16px;
}

.dropdown-nav-item {
    display: flex;
    align-items: center;
    justify-content: left;
}
