.food-thumbnail {
    width: 100%;
    height: auto;
}

.liked-media-icon,
.unliked-media-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    .food-thumbnail-container .liked-media-icon {
        width: 32px;
        height: 32px;
    }
}
