.sign-up-form .form-group {
    margin-bottom: 25px;
}

.field-error-feedback {
    position: absolute;
    color: #fff;
}

.have-account-text {
    margin: 12px 0;
    color: white;
}

.login-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.submitting-spinner {
    width: 20px;
}

.submitting-spinner.rotate {
    animation: rotation 2s infinite linear;
}
