.input-container {
    float: left;
    background-color: white;
    width: 388px;
}

@media (min-width: 768px) {
    .input-container {
        width: 720px;
    }
}

.description-input-column,
.location-input-column {
    padding-bottom: 10px;
}

.input-icon {
    width: 38px;
    height: 38px;
    padding: 10px;
    background-color: #e9ecef;
}

.input-label {
    display: inline-block;
}

.location-icon.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.input-group-container {
    margin-right: 10px;
}

.search-form {
    min-width: 276px;
    max-width: 576px;
}

.search-form .input-group-prepend {
    overflow: hidden;
    background-color: #e9ecef;
}

@media only screen and (min-width: 768px) {
    .search-form {
        display: flex;
    }
}

.search-input {
    padding: 5px;
}

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}