.input-container {
    float: left;
    background-color: white;
    width: 388px;
}

@media (min-width: 768px) {
    .input-container {
        width: 720px;
    }
}

.description-input-column,
.location-input-column {
    padding-bottom: 10px;
}

.input-icon {
    width: 38px;
    height: 38px;
    padding: 10px;
    background-color: #e9ecef;
}

.input-label {
    display: inline-block;
}

.location-icon.rotate {
    animation: rotation 2s infinite linear;
}

.input-group-container {
    margin-right: 10px;
}

.search-form {
    min-width: 276px;
    max-width: 576px;
}

@media (orientation: landscape) {
    .search-form {
        min-width: 476px;
    }
}

.search-form .input-group-prepend {
    overflow: hidden;
    background-color: #e9ecef;
}

.search-input {
    padding: 5px;
}

.search-input.error {
    border-color: #ff2a2e;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}