.contact-container, .contact-background {
    width: 100vw;
    height: 100vh;
}

.contact-container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.contact-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-content-container {
    position: absolute;
    max-width: 550px;
    margin: 50px 0;
    padding: 20px;
}

.contact-header {
    color: #f8f9fa;
    margin: 20px 0;
}