.App {
  width: 100%;
  height: 100%;
}

.title-header {
	padding: 5px;
}

.header-container {
	display: block;
	overflow: auto;
	position: sticky;
    top: 0;
    background-color: white;
    padding: 5px 5px 50px 5px;
}

.input-container {
	float: left;
	max-width: 420px;
	background-color: white;
}

.suggestions-list-group {
	position: absolute;
	font-size: 0.9em;
}

.current-location-icon {
	margin-right: 9px;
	margin-bottom: 5px;
}

.search-button-container {
	padding-left: 0px;
}

.food-media {
  display: inline-block;
  cursor: pointer;
}

.caption {
	font-style: italic;
}

.restaurant-details-container {
	padding-top: 10px;
}

.restaurant-name {
	font-weight: bold;
}

/* Temp */
.restaurant-categories,
.restaurant-rating {
	display: none;
}

.thumbnail {
	max-width: 258px;
	width: 33%;
}

.modal-image {
	width: 100%;
}