.App {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.title-header {

}

.header-container {
	display: block;
	overflow: hidden;
	position: sticky;
    top: 0;
    background-color: white;
    padding: 5px 5px 50px 5px;
    z-index: 5;
}

.header-content-wrapper {
	display: inline-block;
    max-width: 650px;
}

.header-nav > .nav-item {
	padding: 0 10px;
	white-space: nowrap;
}

.input-container {
	float: left;
	background-color: white;
	width: 388px;
}

@media (min-width: 768px) {
	.input-container {
		width: 720px;
	}
}

.description-input-column,
.location-input-column {
	padding-bottom: 10px;
}

.input-icon {
	width: 38px;
	padding: 10px;
	background-color: #e9ecef;
}

.input-label {
	display: inline-block;
}

.suggestions-list-group {
	position: absolute;
	width: 222px;
	font-size: 0.9em;
}

.current-location-icon {
	margin-right: 9px;
	margin-bottom: 5px;
}

.input-group-container {
	margin-right: 10px;
}

.search-form {
	min-width: 276px;
	max-width: 576px;
}

@media only screen and (min-width: 768px) {
	.search-form {
		display: flex;
	}
}

.search-input {
	padding: 5px;
}

.search-submit-button {
	display: none;
}

.food-thumbnail-container {
  position: relative;
  display: inline-block;
  max-width: 258px;
  width: 33%;
  cursor: pointer;
  background-color: white;
}

@media (hover: hover) and (pointer: fine) {
  .food-thumbnail-container:hover {
    opacity: 0.7;
  }
}

.food-thumbnail {
	width: 100%;
	height: auto;
}

.liked-media-icon,
.unliked-media-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
	pointer-events: none;
}

.caption {
	font-style: italic;
}

.restaurant-details-container {
	padding-top: 10px;
}

.restaurant-name {
	font-weight: bold;
}

/* Temp */
.restaurant-categories,
.restaurant-rating {
	display: none;
}

.thumbnail {
	max-width: 258px;
	width: 33%;
}

.modal-image-container {
	position: relative;
	display: inline-block;
}

.modal-image-container .liked-media-icon,
.modal-image-container .unliked-media-icon {
	cursor: pointer;
	pointer-events: auto;
}

.modal-image {
	width: 100%;
}

.error-apology {
	font-size: 3em;
}

.error-message {
	font-size: 1.5em;
	font-style: italic;
}