.App {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.title-header {

}

.header-container {
	display: block;
	overflow: auto;
	position: sticky;
    top: 0;
    background-color: white;
    padding: 5px 5px 50px 5px;
    z-index: 5;
}

.input-container {
	float: left;
	background-color: white;
}

.description-input-column,
.location-input-column {
	padding-bottom: 10px;
}

.input-label {
	display: inline-block;
}

.suggestions-list-group {
	position: absolute;
	font-size: 0.9em;
}

.current-location-icon {
	margin-right: 9px;
	margin-bottom: 5px;
}

.search-input {
	padding: 0px;
}

.search-button-container {
	max-width: 30px;
}

.search-button {
	width: 70px;
	height: 30px;
	padding: 0;
}

.food-media-container {
  display: inline;
}

.food-media.thumbnail {
  cursor: pointer;
  background-color: white;
}

.food-media.thumbnail:hover {
	opacity: 0.7;
}

.caption {
	font-style: italic;
}

.restaurant-details-container {
	padding-top: 10px;
}

.restaurant-name {
	font-weight: bold;
}

/* Temp */
.restaurant-categories,
.restaurant-rating {
	display: none;
}

.thumbnail {
	max-width: 258px;
	width: 33%;
}

.modal-image {
	width: 100%;
}