.feature-not-available-container {
    width: 100vw;
    height: 100vh;
}

.feature-not-available-container {
    display: flex;
    align-items: start;
    justify-content: center;
    background-position: center;
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-not-available-container .contrast-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.1;
}

.feature-not-available-content {
    position: absolute;
    max-width: 550px;
    margin: 50px 0;
    padding: 20px;
}

.feature-not-available-content .content-header {
    margin-bottom: 25px;
}